<div class="container my-5" >
  <div>
    <div id="product" class="row">
      <div id="img-bk-price" class="col-5">
        <%= cl_image_tag @appliance.photo.key, class: "img-fluid", id: "product-img" %>
      </div>

      <div class="col d-flex flex-column">
        <h2 class="fw-bolder"><%= @appliance.name %></h2>
        <p class="fw-medium fs-5 mb-5"><%= @appliance.category %></p>
        <p class="fw-light"><%= @appliance.description %></p>

          <div class="mt-4">
            <p>For <%= @appliance.eaters %> persons</p>
            <p>Condition : <%= @appliance.condition %></p>
          </div>

        <div class="d-flex justify-content-between mt-auto">
          <p class="fw-bolder fs-5"><%= @appliance.price %> €</p>
          <%= link_to 'Book it!', new_appliance_booking_path(@appliance), class: "btn btn-custom align-self-end" %>
        </div>
      </div>
    </div>

  </div>
</div>
