<h1><%= @appliance.category %></h1>

<div>
<h2><%= @appliance.name %></h2>
<p><%= @appliance.condition %></p>
<p><%= @appliance.description %></p>
<p><%= @appliance.price %></p>
</div>

<%= link_to 'New Booking', new_appliance_booking_path(@appliance) %>
