<div class="d-flex flex-wrap justify-content-around">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= offer.appliance.name %></h2>
        <h4><%= offer.appliance.category %></h4>
        <p><%= offer.booker_comment %></p>
        <p>by <%= offer.booker %></p>
        <p><strong><%= offer.appliance.price %>€</strong></p>

      </div> %
  </div>
</div>
