  <div class="container my-5">
    <div class="row">

        <div class="d-flex justify-content-between">
          <h2>Bienvenue <%= current_user.username %> !</h2>
            <%= link_to "create appliance", new_appliance_path, class: "btn btn-custom" %>
        </div>

      <% if user_signed_in? %>
          <div class="mt-4">
            <h3 class="text-warning">My appliances:</h3>
          <div class="container d-flex flex-wrap">
            <% @user.appliances.each do |appliance| %>
              <div class="d-flex flex-column my-4 mx-3 w-25 border shadow-sm rounded py-3">
                <%= render partial: "appliances/appliance", locals: { appliance: appliance } %>
                <div class="d-flex justify-content-between mt-auto px-3">
                  <%= link_to "edit", edit_appliance_path(appliance), class: "btn btn-custom" %>
                  <%= link_to "delete", appliance_path(appliance), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-custom" %>
                </div>
              </div>
            <% end %>
          </div>
         </div>
      <% end %>
    </div>


    <div>
      <div class="mt-4">
        <h3>Appliances I booked:</h3>
        <div class="d-flex flex-wrap">
          <div class="btn-group" role="group" aria-label="Booking Status">
            <% Booking::STATUS.each do |status| %>
              <%= link_to status, my_profile_path(filter: status), class: "btn-custom mx-2" %>
            <% end %>
          </div>
              <%= render partial: "bookings/user_booking", collection: @bookings, as: :booking %>
          </div>
      </div>

      <div class="mt-4">
        <h3>You received the following offers:</h3>
        <div class="d-flex flex-wrap">
        <div class="btn-group" role="group" aria-label="Offers">
          <% Booking::STATUS.each do |status| %>
            <%= link_to status, my_profile_path(selection: status), class: "btn-custom mx-2" %>
          <% end %>
        </div>
          <%= render partial: "bookings/offer", collection: @received_offers, as: :offer %>
        </div>
      </div>
  </div>
</div>
