
<% if user_signed_in? %>
      <p>Bienvenue, <%= current_user.username %>!</p>
      <div>
          <% @user.bookings.each do |booking| %>
            <div>
              <h2><%= booking.appliance.name %></h2>
              <h4><%= booking.appliance.type %> - <%= booking.appliance.price %></h4>
              <p><%= booking.appliance.description %></p>
            </div>
          <% end %>
      </div>
      <%= form_with url: destroy_user_session_path, method: :delete, local: true do |form| %>
        <%= form.submit 'Déconnexion', class: 'btn btn-danger' %>
      <% end %>
<% end %>

<!-- afficher les appliances du user,
les bookings du user en tant que bokker
les bookings du user en tant que owner -->
