
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary mb-3 border-bottom">
  <div class="container py-1">

    <a class="navbar-brand text-warning ms-5 fs-2 fw-medium" href="/">bld</a>

    <%= form_with url: root_path, method: :get, class: "d-flex" do |f| %>
      <%= f.text_field :query, class: "form-control me-2", placeholder: "Search", value: params[:query] %>
      <%= f.submit "Search", class: "btn btn-outline-warning" %>
    <% end %>

    <div id="navbarNavDropdown">
      <ul class="navbar-nav me-5">
        <li class="nav-item dropdown">
          <% if user_signed_in? %>
            <img class="nav-link dropdown-toggle avatar-large" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" src="<%= "https://kitt.lewagon.com/placeholder/users/arthur-littm" %>" />
          <% else %>
            <i class="fa-regular fa-user nav-link text-warning fs-5 px-2 border border-warning rounded-circle" data-bs-toggle="dropdown" role="button"></i>
          <% end %>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li><%= link_to "Profil", my_profile_path, class:"dropdown-item" %></li>
              <li><%= link_to "Disconnect", destroy_user_session_path, class:"dropdown-item", data: {turbo_method: :delete} %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path, class:"dropdown-item" %></li>
              <li><%= link_to "Sign-up", new_user_registration_path, class:"dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
